.login-form {
    max-width: 300px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
